.profilePic {
    width:25%;
    height: 25%;
    transform: rotate(90deg);
}

.profileSection {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.profileName {
    padding:1%;
}

.about {
    width: 100%;
    text-align: center;
}

.contact {
    width: 100%;
}